body{
    margin: 0px;
    background: #00040f;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.header{
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
}
.logo{
    color: #fff;
    width: 40%;
    
}
.logo h1{
    padding-left: 60px;
    padding-top: 10px;
}
.navbar{
    width: 40%;
    padding-left: 220px;
}
.navbar ul {
    list-style-type: none;
    text-align: center; 
     
  }
 a{
    text-decoration: none;
    color: #9c9393;
  }

.navbar li {
    float: left;
    padding-left: 30px;
    font-size: 14px;
  }
  .body{
    width: 100%;
    display: flex;
  }
  .name-section{
    width: 40%;
  }
  .name-section h1{
    color: #fff;
    font-size: 40px;
  }
  .name-section p{
    color: #9c9393;
    font-size: small;
  }
  .name-section span{
    color: #76e2e2;
  }
  .heading{
    padding-left: 100px;
    padding-top: 50px;
  }
  .main-image{
    width: 60%;
  }
  .main-image img{
    width: 100%;
    height: 450px;
  }
